<h4>Contacts From Gmail</h4>
  <a href="/contacts/gmail">Get Gmail Contects</a>
    <% if !@contacts.nil?%> 
      <p><input type="checkbox" id="selectall">select all</p>
      <%= form_tag(send_invitation_users_path) do %>
        <% @contacts.each do |c|%>
          <p>
            <%= check_box_tag "accept[]" , c[:email] %>
            <%= label_tag 'accept', c[:email] %>
          </p>
        <%end%>
        <%= text_field_tag :email, "", :placeholder => "Enter Email", :autofocus => true, :data => { :required => "true"} %>
        <%= submit_tag "send_invitation" %>
      <%end%>
    <%end%>
<h4><%= @title %></h4>
<ul>
  <% @users.each do |user| %> 
    <li><%= link_to user.email ,user_path(user) %></li>
  <% end %> 
</ul>