<h4>Invite User</h4>
<p>
  <%= form_tag send_invitation_users_path  do %>
    <%= text_field_tag :email, "", :placeholder => "Enter Email", :autofocus => true, :data => { :required => "true"} %>
    <%= submit_tag "Invite" %>
  <% end %>
</p>
<h4>OmniContacts Example</h4>
  <a href="/contacts/gmail">Get Gmail Contects</a>
    <% if !@contacts.nil?%>
      <% @contacts.each do |c|%>
        <ul><li><%= c[:name]%> : <%= link_to c[:email]%></li></ul>
      <%end%>
    <%end%>
<h4><%= @title %></h4>
<ul>
  <% @users.each do |user| %> 
    <li><%= link_to user.email ,user_path(user) %></li>
  <% end %> 
</ul>
