<script src="http://connect.facebook.net/en_US/all.js"></script>
<h4>Invite Facebook Friends :=>
<a href="#" onclick="FBInvite()">Here</a></h4>
<script>
 FB.init({
  appId:'1497909220484266',cookie:true,status:true,xfbml:true});
</script>

<h4>Get Your Gmail Contect :=>
  <a href="/contacts/gmail">Here</a></h4>
    <% if !@contacts.nil?%> 
      <p><input type="checkbox" id="selectall">select all</p>
      <%= form_tag(send_invitation_users_path) do %>
        <% @contacts.each do |c|%>
          <p>
            <%= check_box_tag "accept[]" , c[:email] %>
            <%= label_tag 'accept', c[:email] %>
          </p>
        <%end%>
        <%= text_field_tag :email, "", :placeholder => "Enter Email", :autofocus => true, :data => { :required => "true"} %>
        <%= submit_tag "Send Invitation" %>
      <%end%>
    <%end%>
<h4><%= @title %></h4>
<ul>
  <% @users.each do |user| %> 
    <li><%= link_to user.email ,user_path(user) %></li>
  <% end %> 
</ul>